.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.modal {
  box-sizing: border-box;
  padding-top: 40px;
  border: solid black 1px;
  width: 40vw;
  height: 70vh;
  position: fixed;
  top: 20%;
  left: 30%;
  background: rgba(40, 44, 52, 0.7);
  /* opacity: 0.8; */
  box-shadow: 1px 1px 5px;
  color: white;
}

/* .modal:hover {
  box-shadow: inset 0 0 0 25px lightgray;
  transform: translate(-3px);
} */

.modalImg {
  /* opacity: 3; */
  width: 12vw;
  min-width: 150px;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img {
  max-width: 100px;
  /* margin: 10px; */
}

.img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cardContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  /* border: solid black 1px; */
  margin: 10px;
  width: 300px;
}

.bottomButtons {
}
